1c[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T4.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.65[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T4.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]EtOH[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]45C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]EtOH[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]35C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.01[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]15C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]EtOH[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]15C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]15C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]35C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]35C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]EtOH[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]15C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]EtOH[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T5.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]EtOH[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.5[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]EtOH[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]45C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]45C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]35C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]35C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]35C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.01[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]35C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]15C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.65[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.5[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.01[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]45C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]EtOH[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]45C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]EtOH[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]EtOH[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]15C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]35C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.5[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]15C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]45C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.1[[:space:]]35C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]EtOH[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]45C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.65[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL5[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]EtOH[[:space:]]15C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.05[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL7[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL2[[:space:]]XIL=0.2[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.35[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL6[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]EtOH[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1d[[:space:]]IL8[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL3[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1a[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1c[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T2.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL9[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T1.zip filter=lfs diff=lfs merge=lfs -text
1b[[:space:]]IL2[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
1e[[:space:]]IL4[[:space:]]XIL=0.8[[:space:]]25C[[:space:]]T3.zip filter=lfs diff=lfs merge=lfs -text
